* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

body {
  background-color: #cdf2f9;
}

.top-bar-container {
  
  width: 100%;
  height: 117px;
  flex-direction: row;
  border: 2px solid green;

}
.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 117px;
  margin: auto;
  background-color: #fff;
  border: 2px solid blue;
}

.top-bar img {
  width: 90px;
  border-radius: 50%;
  margin: 15px;
  

}

