* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #cdf2f9;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #fff;
  align-items: center;
}

.site-identity {
  display: flex;
  align-items: center;
  width: 40%;
}

.site-identity img {
  width: 90px;
  border-radius: 50%;
  margin-left: 20px;
}

.site-identity h1 {
  font-size: 36px;
  color: #333;
  margin-left: 20px;

}

.menu {
  width: 60%;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.navigation {
  display: flex;
  gap: 20px;
}

.navigation li {
  text-decoration: none;
}

.navigation a {
  text-decoration: none;
  font-size: 24px;
  color: #333;
}

.search-button {
  margin-right: 20px;
}

#banner {
  display: flex;
  width: 35%;
  height: 600px;
  /* flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px; */

}

#banner h2 {

  width: 520px;
  /* height: 96px; */
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;

}

#banner p {
  width: 520px;
  /* height: 48px; */
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  /* text-align: left; */

}

#image-banner img {

  display: flex;
  width: 35%;
  height: 600px;
  border: 1px solid blue;
  height: 400px;
  width: 520px;
}